* {
    font-family: orbitron;
}
body {
    background-color: black;
}

h1 {
   color: white;
}

div {
    text-align: center;
    font-size: 15px;
    margin-bottom: 25px;
}

h2 {
    /* text-align: center; */
    color: white;
}

button {
    width: 5em;
    border: 2.5px solid;
    border-color: rgb(13, 163, 205); 
    border-radius: 50px;
    background-color: black;
    transition: 0.5s;
    outline: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgb(32, 167, 204);
}

.timer {
    font-size: 20px;
    border: 2.5px solid;
    border-color: rgb(32, 167, 204); 
    border-radius: 50px;
    height: 40px;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-left: 32%;
    min-width: 175px;
}

.timer h2 {
    margin-top: 0px;
}

.player-icons {
    margin-top: 3px;
}

.start-btn {
    background-color: black;
}

.pause-btn {
    background-color: black;
}

.restart-btn {
    background-color: black;
}


/* .save-btn {
  background-color: black;
} */ 
