* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    height: 100%; 
    background-color: #0f0f0f; 
    font-family: 'Orbitron', sans-serif; 
    color: white; 
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px; 
    padding: 20px;
}

.icons h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    width: 5em;
    border: 2.5px solid;
    border-color: rgb(13, 163, 205); 
    border-radius: 50px;
    margin: 10px;
    margin-top: 30px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(32, 167, 204);
}

.player-icons {
    filter: brightness(0) invert(1); 
    transition: transform 0.2s ease-in-out;
}

button:hover .player-icons {
    transform: scale(1.2); 
}

.timer h2 {
    font-size: 3rem;
    margin: 20px 0;
    color: white;
    border: 2.5px solid;
    border-color: rgb(32, 167, 204); 
    border-radius: 50px;
}

.laps h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.laps {
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(32, 167, 204); 
}

.laps h2 {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
}

#lapCount {
    color: white;
}

.laps div {
    border-top: 1px solid #444;
}

.laps .lap-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #444;
    font-size: 16px;
}

.laps .lap-item span {
    font-size: 16px;
}

.time-unit {
    color: white;
}

.tasks {
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(32, 167, 204); 
    height: 150px;
}

.tasks h2 {
    padding: 8px;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
}

#taskList {
    border-top: 1px solid #444;
}

.tasks .task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #444;
    font-size: 16px;
}

.tasks .task-item span {
    font-size: 16px;
}

#tasksCount {
    color: white;
}

.tasks .task-index {
    color: white;
}

.tasks .task-title {
    flex: 1;
    text-align: left;
    margin-left: 10px;
    color: rgb(32, 167, 204);
}

.tasks .task-time {
    color: rgb(32, 167, 204);
}
